@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

html{
    height: 100%;
}
    
* {
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
}

header {
    height: 60px;
    /*in*/
    width: auto;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.title-header {
    height: auto;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

header .title-header img {
    height: 100%;


}

header .search {
    flex: 4;
    font-size: 25px;
    padding: 10px;
    border-radius: 60px;
    border: 1px solid rgb(145, 145, 145);
    outline: 0;

}

.title {
    font-size: 30px;
}

footer {
    height: 60px;
    width: 100%;
    background-color: rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

body {
    position: relative;
    height: 100%;
}

main {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: initial;
    margin: 0 20% 70px 20%;
}

.data {
    margin: 10px;
    border: 0.05px solid rgba(241, 240, 240, 0.747);
    border-radius: 10px;
    padding: 10px;
    word-break: break-all;
}
.data .word{
    font-size: 35px;
    font-weight: bold;
}

.data .url{
    font-size: 12px;
    color: grey;
}

.data .de{
    font-size: 20px;
}


@media screen and (max-width: 450px) {

    header .title{
        display: none;
    }

    header .search {
        flex: 3;
        font-size: 20px;
        margin: 10px;
    
    }

    main {
        margin: 0 5% 0 5%;
    }
}