@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');


* {
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
}

header {
    height: 60px;/*in*/
    width: auto;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.title-header {
    height: auto;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

header .title-header img {
    height: 100%;


}

header .search {
    flex: 4;
    font-size: 25px;
    padding: 10px;
    border-radius: 60px;
    border: 1px solid black;
    outline: 0;

}

.title{
    font-size: 30px;
}

footer{
    height: 60px;
    width: 100%;
    background-color: rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

body{
    position: relative;
}